* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

  background-color: rgb(233, 218, 227);

}


#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;

  display: block;
  margin-bottom: 16px;

  margin-left: auto;
  margin-right: auto;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: rgb(80, 77, 250);
  height: 40px;
 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* width: 800px; */
}

.photo-card {
  margin: 15px;
  /* border: 2px solid rgb(0, 0, 0); */
}

.info {
  display: flex;
  justify-content: space-between;
}

.info-item {
  text-align: center;
}

/* .info-item:not(:last-child) {
  /* margin-right: 5px; */
/* } */    

#sentinel {
  /* width: 300px;
  height: 300px;
  background-color: tomato; */
}